@using RealEstateApp.Models.User;
@model LoginViewModel

<div class="d-flex p-5 justify-content-center mx-auto center-block">
	<form asp-action="Login" asp-controller="User">
		<div class="mb-3">
			<div class="input-group-text">				
				<div action="form-floating">
					<label asp-for="Login" class="form-label d-flex">Логин</label>
					<input asp-for="Login" type="text" class="form-control" placeholder="Введите логин" />
				</div>
			</div>
			<span class="text-danger" asp-validation-for="Login"></span>
		</div>
		<div class="mb-3 ">
			<div class="input-group-text">
				<div action="form-floating">
					<label asp-for="Password" class="form-label d-flex">Пароль</label>
					<input asp-for="Password" type="password" class="form-control" placeholder="Введите пароль" value="@Model?.Password" />
				</div>
			</div>
			<span class="text-danger" asp-validation-for="Password"></span>
		</div>

		<div class="text-danger mb-2">@ViewBag.Error</div>
		<button type="submit" class="btn btn-success w-100">Войти</button>
	</form>
</div>


@{
}
