@using RealEstateApp.Models.RealEstateList;
@model CatalogViewModel
@{

}

<div>

</div>
<h1>Каталог</h1>
<p></p>
<div class="searchMenu">
   @*  <div class="imgContainer">
        <img class="bgimage" src="~/resources/city-firstimage.jpg"/>
    </div> *@
    <div class="shadow rounded p-3 bg-white">
        <h1>Поиск</h1>
        <div class="searchBar">
            <form asp-controller="Home" asp-action="Catalog">
                <div class="row">
                    <div class="col-5">
                        <div class="form-floating">
                            <input name="searchString"
                                   asp-for="@Model.RealEstate.Address"
                                   type="text"
                                   class="form-control shadow-sm rounded"
                                   placeholder="Адрес объекта">
                            <label>Адрес объекта</label>
                        </div>
                        <div class="text-danger">@ViewBag.Error</div>
                    </div>
                    <div class="col-1 d-flex">
                        <button class="btn btn-secondary shadows rounded" type="submit" data-bs-title="Добавить"
                                data-bs-toggle="tooltip">
                            Поиск
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr />
</div>
<div class="estates">
    @foreach (var estate in Model.RealEstates)
    {
        @await Component.InvokeAsync("RealEstateListItem", estate);
    }
</div>


<style>
    .searchMenu{
        justify-content:center;
        align-items:center;
        /* background-image: url("~/resources/city-firstimage.jpg"); */
    }
    .searchBar{
        
    }

    .imgContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
                background-size:cover;
    }
    h1{
        justify-content:center;
        text-align:center;
        margin:10px;
    }
    .bgimage{
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;     
        object-fit:contain
    }
</style>
