
@{
    ViewData["Title"] = "Home";
}

<body>
    <div class="homepage d-flex justify-content-between">
        <div class="textContainer d-flex">
            <div class="wrapper d-flex flex-column justify-content-lg-start col pt-5">
                <h1 class="title display-5">Найдите свое место мечты!</h1>
                <p>
                    Ваш путь к идеальному жилищу начинается здесь! Наше риэлторское агентство предлагает вам не только квалифицированную помощь
                    в поиске недвижимости, но и настоящее понимание ваших потребностей и мечтаний.
                    Мы работаем для вашего комфорта и уверенности в выборе. Доверьте нам заботу о вашем будущем доме,
                    и мы сделаем все возможное, чтобы сделать вашу мечту о жилье реальностью!
                </p>
                <button type="button" class="button btn-success rounded shadow border-1" asp-area="" value="Начать!"
                onclick="location.href='@Url.Action("catalog", "home")'" asp-controller="RealEstate" asp-action="Index">Начать!</button>
                <div class="boxes d-flex flex-row">
                    <div class=""><h2>2+</h2><h3>Года опыта</h3></div>
                    <div class="ml-3"><h2>Множество</h2><h3>наград!</h3></div>
                    <div class="ml-3"><h2>130+</h2><h3>Позиций</h3></div>
                </div>
            </div>
        </div>
        <div class="imgContainer d-flex position-relative">
            <img class="" src="~/resources/bg.png" alt="" />
        </div>
    </div>
</body>

<style type="text/css">
    .boxes{
        display: flex;
        justify-content: space-between;
    }

    .textContainer {
        flex: 3;
    }

    .wrapper {
        padding-right: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        height: 100%;
    }

    .homePage {
        display: flex;
        height: 100%;
    }

    .imgContainer{
        flex: 2;
        background-color: #fcf5f3;
        position: relative;
        display: flex;
        align-items: center;
    }

    img {
        width: 115%;
        position: absolute;
        right: 0;
    }


</style>

